body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: montserrat;
    background: linear-gradient(100deg,blue,cyan);
    height: 120vh;
    width: 0vh;
    overflow: hidden;
}
.center{
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50% -50%);
  width: 400px;
  background: linear-gradient(130deg,none);
  border-radius: 10px;
  color: white;

}
.center h1{
  text-align: center;
  color: white;
  padding: 0 0 50px 0;
  border-bottom: 1px solid blue;
}
.center form{
  padding: 0 10px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 1px solid white;
  margin: 10px 1px ;
}
.txt_field input{
  color: white;
  width: 100%;
  padding:0 5px;
  height: 60px;
  font-size: 15px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 20%;
  left: 5px;
  color: white;
  transform: translateY(-50%)
}
.txt_field span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 2px;
  background: none;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:value ~ label {
  top: 5px;
  color:white;
}
.txt_field input:focus ~ span::before,
.txt_field input:value ~ span::before{
  width: 100%;
}

input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid white;
  background: linear-gradient(130deg,cyan,blue);
  border-radius: 25px;
  font-size: 20px;
  color: white;
  font-weight: 1000;
  cursor: pointer;
  outline: black;
}
input[type="submit"]:hover{
  border-color: white;
  transition: .5s;
}
